{% extends 'base.html' %}
{% block content %}

<style type="text/css">
 
  text {
    font: 12px sans-serif;

  }

  circle {
      stroke: #636363;
      stroke-width: 1;
      opacity: 1;
  }

  div.tooltip{
    background-color: #626D71;
    border-radius: 6px;
    color: white;
    font-family: monospace; 
    position: absolute;
    padding: 8px;
    text-align: center;
    width: 200px;
  }

/*  .svg {
    background-color: #D9D9D9;
  }*/
  #recommendation {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .recommendation-row{
    padding-top: 10px;
  }

  .container-background {
    background-size:cover;
    /*background-image:url("static/pexels-photo-110941.jpeg"); */
    background-position: center;
    background-repeat: no-repeat; 
    /*height: 1000px;*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
}


}
</style>

<style type="text/css">

</style>

<nav class="navbar navbar-light bg-faded ">
  <a class="navbar-brand nav-brand" href="/">FlickrMatch</a>
  <a class="navbar-text navbar-right nav-brand" href="javascript:window.history.back();">Best Nine</a>
</nav>

<div id='values' 
  data-username1='{{ username1 }}' 
  data-username2= '{{ username2 }}'
  data-name1 = '{{ name1 }}'
  data-name2 = '{{ name2 }}'> 
</div>

<div class='container container-background'>
  <div class='row page-title'>
    <div id='match'>
      <h4>{{ name1 }} and {{ name2 }} is {{ match_tags }} match in photo tags</h4>
    </div>
    <div class='action-button'>
      <a id="path-match" class="btn btn-outline-dark" role="button" href="/geo?username1={{ username1 }}&username2={{ username2 }}&name1={{ name1 }}&name2={{ name2 }}">Path Match</a>
    </div>
  </div>
  


  <!-- <div class="styled-select green select-rounded"> -->
  <!-- </div> -->
  <div class='row'>
    <div id='graph'>
      <div>
        <select id='text-source'>
          <option value='tags'>Photo Tags</option>
          <option value='title'>Photo Title</option>
          <option value='description'>Photo Description</option>
        </select>
      </div>
    </div>
  </div>

  <div class='row justify-content-center recommendation-row'>
    <a id='recommendation-button' type="button" class="btn btn-outline-dark" href="#recommendation"> Recommendation </a>
  </div>

  <div class='row'>
    <div id='recommendation'></div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>

<script>
  // http://spin.js.org/ loader settings
  var spinnerOpts = {
    lines: 9, // The number of lines to draw
    length: 9, // The length of each line
    width: 5, // The line thickness
    radius: 14, // The radius of the inner circle
    color: '#EE3124', // #rgb or #rrggbb or array of colors
    speed: 1.9, // Rounds per second
    trail: 40, // Afterglow percentage
    className: 'spinner', // The CSS class to assign to the spinner
    position: 'absolute' // Element positioning
  };

  function updateGraph() {
    var username1 = $('#values').data('username1');
    var username2 = $('#values').data('username2');
    var name1 = $('#values').data('name1');
    var name2 = $('#values').data('name2');

    var url = '/tags-bubble';
    var selected = $('#text-source').val();
    
    var target = document.getElementById("graph");
    var spinner = new Spinner(spinnerOpts).spin(target);

    $.post(url, {'username1': username1,'username2': username2
      }, function(results){

        if ($('#text-source').val() == "tags") {
          var matchscore = results.match_tags;
        } else if ($('#text-source').val() == "title") {
          var matchscore = results.match_title;
        } else if ($('#text-source').val() == "description"){
          var matchscore = results.match_description;
        }

      $('#match').html(`<h4><span style="color: #4484CE">${name1}</span> and <span style="color:#F9CF00">${name2}</span> is<span style="color:#F19F4D"> ${matchscore} match</span> in photo ${selected}</h4>`);

      d3.select("svg").remove();
      updateBubble(`static/${selected}.csv`);

      // stop spinner when svg changes
      spinner.stop();
      $('#recommendation-button').show();
    });

  }
  $('#recommendation-button').hide();
  $('#text-source').on('change', updateGraph);
  
 function loadRecommendation(){
    url = '/tags-bubble';
    username1 = $('#values').data('username1');
    username2 = $('#values').data('username2');
    $.post(url, {'username1': username1, 'username2': username2},
      function(results){
        console.log(results);
        var urls = results.urls;
        var text = "";
        var i;
        for(i = 0; i < urls.length; i++){
          text += `<img src='${urls[i]}' class="col-md-1 recommendation-img"></img>`;
        }
        $('#recommendation').html(text);
      });
  }

  $(document).ready(function(){
    $('#recommendation-button').click(function() {
      loadRecommendation();
    });
  })

    // D3 global variables
  var width = 1140,
      height = 550,
      padding = 0, // separation between same-color nodes
      clusterPadding = 0, // separation between different-color nodes
      maxRadius = 20;

  var color = d3.scale.ordinal()
        .range([ '#4484CE', "#F9CF00", '#F19F4D']);
        // .range(["#6EC4DB", "FEDC3D", "#FEA680"]);
        // .range(["93C178", "#465C8B", "F7EF6A"]);

  var opacity = d3.scale.ordinal()
        // .range([1,1,1])
        .range([0.8, 0.8, 0.8])

  //D3 function that display given textUrl
  function updateBubble(dataFilePath) {
    d3.text(dataFilePath, function(error, text) {
        if (error) throw error;                

        var colNames = "word,count,user\n" + text;
        var data = d3.csv.parse(colNames);

        data.forEach(function(d) {
          d.count = +d.count;
        });

      //unique cluster/user id's
      var cs = [];
      data.forEach(function(d){
              if(!cs.contains(d.user)) {
                  cs.push(d.user);
              }
      });

      var n = data.length, // total number of nodes
          m = cs.length; // number of distinct clusters

      //create clusters and nodes
      var clusters = new Array(m);
      var nodes = [];
      for (var i = 0; i<n; i++){
          nodes.push(create_nodes(data,i));
      }

      var force = d3.layout.force()
          .nodes(nodes)
          .size([width, height])
          .gravity(0.05)
          .charge(-80)
          .on("tick", tick)
          .start();

      var svg = d3.select("#graph").append("svg")
          .attr("width", width)
          .attr("height", height);

      //   svg.append("rect")
      // .attr("width", "100%")
      // .attr("height", "100%")
      // .attr("fill", "#D9D9D9")
      // .style("opacity", 0.4);

      var div = d3.select("#graph").append("div") 
        .attr("class", "tooltip")       
        .style("opacity", 0);

      var node = svg.selectAll("circle")
          .data(nodes)
          .enter().append("g").call(force.drag);

      node.append("circle")
          .style("fill", function (d) {
            return color(d.cluster);
          })
          .style("opacity", function (d) {
            return opacity(d.cluster)
          })
          .attr("r", function(d){
            return d.radius * 1.2});
          
      let textNode = node.append("text")
            .attr("dy", ".3em")
            .style("text-anchor", "middle")
            // .text(function(d) {return d.word + "&#xA;" + d.count}) 
              // { return d.text.substring(0, d.radius / 3); });
      textNode.append('tspan')
            .attr("x", "0")            
            .attr("dy", "0em")
            .text(function(d) {return d.word});
 
      textNode.append('tspan')
            .attr("x", "0")
            .attr("dy", "1em")
            .text(function(d) {return d.count});

      node.on("mouseover", function(d) {     
              div.transition()   
                .duration(100)
                .attr('x', d.x)    
                .attr('y', d.y)
                .style("opacity", 1);
              div.html(d.user + "<br>" + d.word + "<br>" + d.count + " tags");                         
              })
          .on("mousemove", function() {
              div.style("top", (d3.event.pageY - 10) + "px")
                .style("left", (d3.event.pageX + 10) + "px");
            })      
          .on("mouseout", function() {   
              div.transition()   
                .duration(100)    
                .style("opacity", 0);
            });

      function create_nodes(data,node_counter) {
        var i = cs.indexOf(data[node_counter].user),//return the first index
            r = Math.sqrt((i + 1) / m * -Math.log(Math.random())) * maxRadius,
            d = {
              cluster: i,
              radius: data[node_counter].count,
              text: data[node_counter].word + ':' + data[node_counter].count,
              word: data[node_counter].word,
              user: data[node_counter].user,
              count: data[node_counter].count,
              x: Math.cos(i / m * 2 * Math.PI) * 200 + width / 2 + Math.random(),
              y: Math.sin(i / m * 2 * Math.PI) * 200 + height / 2 + Math.random()
            };
        if (!clusters[i] || (r > clusters[i].radius)) clusters[i] = d;
        return d;
      };

      function tick(e) {
          node.each(cluster(2 * e.alpha * e.alpha))
              .each(collide(0.5))
          .attr("transform", function (d) {
              var k = "translate(" + d.x + "," + d.y + ")";
              return k;
          })
      }

      // Move d to be adjacent to the cluster node.
      function cluster(alpha) {
          return function (d) {
              var cluster = clusters[d.cluster];
              if (cluster === d) return;
              var x = d.x - cluster.x,
                  y = d.y - cluster.y,
                  l = Math.sqrt(x * x + y * y),
                  r = d.radius + cluster.radius;
              if (l != r) {
                  l = (l - r) / l * alpha;
                  d.x -= x *= l;
                  d.y -= y *= l;
                  cluster.x += x;
                  cluster.y += y;
              }
          };
      }

      // Resolves collisions between d and all other circles.
      function collide(alpha) {
          var quadtree = d3.geom.quadtree(nodes);
          return function (d) {
              var r = d.radius + maxRadius + Math.max(padding, clusterPadding),
                  nx1 = d.x - r,
                  nx2 = d.x + r,
                  ny1 = d.y - r,
                  ny2 = d.y + r;
              quadtree.visit(function (quad, x1, y1, x2, y2) {
                  if (quad.point && (quad.point !== d)) {
                      var x = d.x - quad.point.x,
                          y = d.y - quad.point.y,
                          l = Math.sqrt(x * x + y * y),
                          r = d.radius + quad.point.radius + (d.cluster === quad.point.cluster ? padding : clusterPadding);
                      if (l < r) {
                          l = (l - r) / l * alpha;
                          d.x -= x *= l;
                          d.y -= y *= l;
                          quad.point.x += x;
                          quad.point.y += y;
                      }
                  }
                  return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
              });
          };
      }
    });
  }
  updateGraph(); 

  Array.prototype.contains = function(v) {
    for(var i = 0; i < this.length; i++) {
        if(this[i] === v) return true;
    }
    return false;
  };

</script>

{% endblock %}




