{% extends 'base.html' %}
{% block content %}

<style type="text/css">

  body {
     font-family: Lato;
  }

  #graph {
    padding-top: 0;
    margin-left: 30px;
  }

  #states path {
    fill: #ccc;
    stroke: #fff;
  }

  circle {
    fill-opacity: .8;
    stroke: #fff;
  }
  .navbar-nav {
      flex-direction: row;
    }
    
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }

  .title-font {
    font-family: Nunito;
    font-weight: bold;
    color: #4d4d4d;
    font-size: 2rem;
  }

  #year-label {
    color: black;
    font-family: Lato;
    font-weight: bold;
    font-size: 1.2rem;
  }

  #year {
    border: 0;
    width: 50px;
    font-family: Lato;
    font-size: 1.2rem;
    color: #F19F4D;
    font-weight: bold;
  }

  .slider-box {
    margin-left: -70px;
    margin-top: 8px;
  }

  .recommendation-text {
    display:none;
    padding-top: 1rem;
  }

  div.tooltip {
    background-color: #626D71;
    border-radius: 6px;
    color: white;
    font-family: monospace; 
    position: absolute;
    padding: 8px;
    text-align: center;
    width: 200px;
  }

</style>

<nav class="navbar navbar-light bg-faded">
   <div class="container-fluid">
      <a class="navbar-brand nav-brand" href="/">FlickrMatch</a>
      <ul class="navbar-nav ml-autl">
        <li class="nav-item">
          <a class="navbar-text nav-link navbar-right nav-menu" href="javascript:window.history.back();">Word Match</a>
        </li>
        <li class="nav-item">
          <a class="navbar-text nav-link navbar-right nav-menu" href="javascript:window.history.go(-2);"> Best Nine</a>
        </li>
      </ul>   
    </div>
</nav>

<div id='users' 
      data-username1='{{ username1 }}'
      data-username2='{{ username2 }}'>
</div>

<div class='container'>
  <div class='row page-title'>
   <div id='match'>
    <h4 class="title-font"><span id='name1' style="color: #4484CE">{{ name1 }} </span>and <span id='name2' style="color: #F9CF00" >{{ name2 }}</span>'s photo path</h4>
    </div>
  </div>

  <div class='row'>
  <div class='col-md-2'>
    <p style="margin-bottom: 0;">
      <label id="year-label" for="year">Year :</label>
      <input type="text" id="year" style="border:0; width: 50px;"/>
    </p>
  </div>

  <div class="col-md-3 slider-box">
    <div id="slider" style="width: 200px;"></div>
  </div>
  </div>

  <div class="row">
    <div id="graph"></div>
  </div>

  <div class='row justify-content-center'>
    <h4 id="recommendation-text" class="recommendation-text-font">You May Also Like</h4>
  </div>

  <div class="row">
    <div id='recommendation'>
  </div>
</div>

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>

<script type="text/javascript">

loadMap("static/geo.csv");

function loadRecommendation(results){
  var urls = results.urls;
  console.log(results);
  var text = "";
  var i;
  for(i = 0; i < urls.length; i++){
    text += `<img src='${urls[i]}' class="col-md-1 recommendation-img"></img>`;
  }
  $('#recommendation').html(text);
}

function getRecommendation() {
  $.get('/recommendation-geo', loadRecommendation);
}

$(document).scroll(function(){
    // if ($(this).scrollTop() > 0) {
      $('#recommendation').addClass('showRecommendation');
    // }
  });

// $('#recommendation-text').hide();

getRecommendation();

function loadMap(dataFilePath){
  var w = 1200;
  var h = 450;
  var xy = d3.geo.equirectangular()
          .scale(150);
  var path = d3.geo.path()
          .projection(xy);
  var color1 = "#4484CE";
  var color2 = "#F9CF00";
  var colorCommon = "#F19F4D"; 

  $(document).ready(function() {
    $("#slider").slider({
      value:2018,
      min: 2010,
      max: 2018,
      step: 1,
      slide: function(event, ui) {
        $("#year").val(ui.value);
        redraw(ui.value.toString());
      }
  });
  $("#year").val($("#slider").slider("value"));

  var svg = d3.select("#graph").insert("svg:svg")
            .attr("width", w)
            .attr("height", h);
  var states = svg.append("svg:g")
            .attr("id", "states");
  var circles = svg.append("svg:g")
            .attr("id", "circles");
  var labels = svg.append("svg:g")
            .attr("id", "labels");

  var div = svg.selectAll("circle")
            .attr("id", "div")
            .style("opacity", 1);


  d3.json("static/world-countries.json", function(collection) {
      states.selectAll("path")
      .data(collection.features)
      .enter().append("svg:path")
      .attr("d", path)
      .on("mouseover", function(d) {
          d3.select(this)
          .style("fill",colorCommon)
          .style("opacity", 0.8);})
      .on("mouseout", function(d) {
          d3.select(this).style("fill","#ccc");})
  });

  var scalefactor=2;

  d3.csv(dataFilePath, function(data) {

     var div = d3.select("#graph").append("div") 
        .attr("class", "tooltip")       
        .style("opacity", 0);

    circles.selectAll("circle")
    .data(data)
    .enter()
    .append("svg:circle")
    .attr("cx", function(d, i) { return xy([+d["longitude"],+d["latitude"]])[0]; })
    .attr("cy", function(d, i) { return xy([+d["longitude"],+d["latitude"]])[1]; })
    .attr("r",  function(d) { return (+d["2018"])*scalefactor; })
    .style("fill", function(d) {
      var user1 =  $('#users').data('username1');
      var user2 =  $('#users').data('username2');
      if (d["user"] === user1) {return color1};
      if (d["user"] === user2) {return color2};
      })
    .on("mouseover", function(d) {     
        div.transition()   
          .duration(100)
          .attr("x", function() { return xy([+d["longitude"],+d["latitude"]])[0]; })
          .attr("y", function() { return xy([+d["longitude"],+d["latitude"]])[1]; })
          .style("opacity", 1);
            
        div.html(d["user"] + "<br>" + d["country_name"] + "<br>" + Number(d[document.getElementById("year").value]) + " photos");
      })

    .on("mousemove", function() {
          div.style("top", (d3.event.pageY - 10) + "px")
            .style("left", (d3.event.pageX + 10) + "px");
        })      
    
    .on("mouseout", function() {   
          div.transition()   
            .duration(100)    
            .style("opacity", 0);
      });
  });

  function redraw(year) {
      circles.selectAll("circle")
      .transition()
      .duration(1000).ease("linear")
      .attr("r",  function(d) { return (+d[year])*scalefactor; })
      .style("fill", function(d) {
          var user1 =  $('#users').data('username1');
          var user2 =  $('#users').data('username2');
          if (d["user"] === user1) {return color1};
          if (d["user"] === user2) {return color2};
      })
    }
  });
  $('#recommendation-text').show();
}

</script>

{% endblock %}
