{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  body {
     font-family: Arial, Helvetica, sans-serif;
  }

  #states path {
    fill: #ccc;
    stroke: #fff;
  }

  circle {
    fill-opacity: .6;
    stroke: #fff;
  }

</style>

<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">FlickrMatch</a>
  <!-- fix hyperlink -->
  <!-- <a class="navbar-text navbar-right" href="/userinfo">Best Nine</a>
  <a class="navbar-text navbar-right" href="/tags-bubble"">Word Match</a> -->
</nav>



<div id='users' 
      data-username1='{{ username1 }}'
      data-username2='{{ username2 }}'>
</div>

<div class='container'>
  <div class='row'>
   <div id='match'><h4><span id='name1' style="color: #F9CF00">{{ name1 }} </span>and <span id='name2' style="color:#F19F4D" >{{ name2 }}</span>'s photo path</h4></div>
  </div>

  <div class='row'>
    <p style="margin-bottom: 0;">
      <label for="year">Year :</label>
      <input type="text" id="year" style="border:0; width: 50px;"/>
    </p>
  </div>

  <div class="row">
    <div id="slider" style="width: 200px;"></div>
  </div>

  <div class="row">
    <div id="graph"></div>
  </div>

  <div class='row justify-content-center'>
    <button id='recommendation-button' type="button" class="btn btn-outline-dark" > Recommendation </button>
  </div>

  <div class="row">
    <div id='recommendation'>
  </div>
</div>

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />

<script type="text/javascript">

loadMap("static/geo.csv");

function loadRecommendation(results){
  // var results = response;
  var urls = results.urls;
  console.log(urls);
  var text = "";
  var i;
  for(i = 0; i < urls.length; i++){
    text += "<img id=img" + i.toString() +  " src='" + urls[i] + "' </img>";
  }
  $('#recommendation').html(text);
  $('button').hide();
}

function getRecommendation() {
  $.get('/recommendation-geo', loadRecommendation);
}

$(document).ready(function(){
    $('#recommendation-button').click(function(){
      getRecommendation();
    });
  })


function loadMap(dataFilePath){

  var w = 1140;
  var h = 500;
  var xy = d3.geo.equirectangular()
          .scale(140);
  var path = d3.geo.path()
          .projection(xy);

  $(document).ready(function() {
    $("#slider").slider({
      value:2017,
      min: 2010,
      max: 2018,
      step: 1,
      slide: function(event, ui) {
        $("#year").val(ui.value);
        redraw(ui.value.toString());
      }
  });
  $("#year").val($("#slider").slider("value"));

  var svg = d3.select("#graph").insert("svg:svg")
            .attr("width", w)
            .attr("height", h);
  var states = svg.append("svg:g")
            .attr("id", "states");
  var circles = svg.append("svg:g")
            .attr("id", "circles");
  var labels = svg.append("svg:g")
            .attr("id", "labels");

  var div = svg.selectAll("circle")
            .attr("id", "div")
            .style("opacity", 1);


  d3.json("static/world-countries.json", function(collection) {
      states.selectAll("path")
      .data(collection.features)
      .enter().append("svg:path")
      .attr("d", path)
      .on("mouseover", function(d) {
          d3.select(this).style("fill","#6C0")
              .append("svg:title")
              .text(d.properties.name);})
      .on("mouseout", function(d) {
          d3.select(this).style("fill","#ccc");})
  });

  var scalefactor=2;

  d3.csv(dataFilePath, function(data) {

    circles.selectAll("circle")
    .data(data)
    .enter()
    .append("svg:circle")
    .attr("cx", function(d, i) { return xy([+d["longitude"],+d["latitude"]])[0]; })
    .attr("cy", function(d, i) { return xy([+d["longitude"],+d["latitude"]])[1]; })
    .attr("r",  function(d) { return (+d["2010"])*scalefactor; })
    .style("fill", function(d) {
      var user1 =  $('#users').data('username1');
      var user2 =  $('#users').data('username2');
      if (d["user"] === user1) {return '#F9CF00'};
      if (d["user"] === user2) {return '#F19F4D'};
      })
    .on("mouseover", function(d, i) {
        // d3.select(this).style("fill","#FC0");
        circles.append("text")
            .attr("id", "t"  + "-" + i)
            .attr("x", function() { return xy([+d["longitude"],+d["latitude"]])[0]; })
            .attr("y", function() { return xy([+d["longitude"],+d["latitude"]])[1]; })
            .text(function() { return d["country_name"] + ": " + Number(d[document.getElementById("year").value]); });

      })
    .on("mouseout", function(d, i) {
        // d3.select(this).style("fill","steelblue");
        d3.select("#t"  + "-" + i).remove();
      })

  });


  function redraw(year) {
      circles.selectAll("circle")
      .transition()
      .duration(1000).ease("linear")
      .attr("r",  function(d) { return (+d[year])*scalefactor; })
      .style("fill", function(d) {
          var user1 =  $('#users').data('username1');
          var user2 =  $('#users').data('username2');
          if (d["user"] === user1) {return 'steelblue'};
          if (d["user"] === user2) {return 'red'};
      })
    }
  });
}
</script>
{% endblock %}
