{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  .grid-image {
    margin-bottom: 0.7rem!important;
    margin-right: -1rem!important;
  }
  .subtitle{
    padding-bottom: 5px;
    padding-bottom: 10px;
  }

  .subtitle-font{
    font-family: Lato;
    font-weight: bold;
    color: #4d4d4d;
  }

</style>

<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand nav-brand" href="/">FlickrMatch</a>
</nav>
<div class="container" style="width:100%">
  <div class="row page-title">
    <h3 class="title-font">Best Nine on Flickr</h3>
    <div class='action-button'>
      <a id="word-match" class="btn btn-outline btn:hover" role="button" href="/tags-bubble?username1={{ username1 }}&username2={{ username2 }}&name1={{ name1 }}&name2={{ name2 }}"> Word Match </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="subtitle">
        <h4 class="subtitle-font">{{ name1 }}</h4>
      </div>
      {% if urls1|length < 9 %}
        <p> Have at least nine photos on Flickr for this game! </p>
      {% else %}
        <div class="row">
          {% for url in urls1 %}   
            {% if loop.index==1 or loop.index==2 or loop.index==3 %}       
              <div class="col-md-4 grid-image">
                <img src={{url}} class="rounded" width="100%" height="auto">
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="row">
          {% for url in urls1 %}   
            {% if loop.index==4 or loop.index==5 or loop.index==6 %}       
              <div class="col-md-4 grid-image">
                <img src={{url}} class="rounded" width="100%" height="auto">
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="row">
          {% for url in urls1 %}   
            {% if loop.index==7 or loop.index==8 or loop.index==9 %}       
              <div class="col-md-4 grid-image">
                <img src={{url}} class="rounded" width="100%" height="auto">
              </div>
            {% endif %}
          {% endfor %}
        </div>
    {% endif %}
    </div>
    
    <div class="col-md-1"></div>

    <div class="col-md-5">
      <div class="subtitle">
        <h4 class="subtitle-font">{{ name2 }}</h4>
      </div>
      {% if urls2|length < 9 %}
        <p> Have at least nine photos on Flickr for this game! </p>
      {% else %}
        <div class="row">
          {% for url in urls2 %}   
            {% if loop.index==1 or loop.index==2 or loop.index==3 %}       
              <div class="col-md-4 grid-image">
                <img src={{url}} class="rounded" width="100%" height="auto">
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="row">
          {% for url in urls2 %}   
            {% if loop.index==4 or loop.index==5 or loop.index==6 %}       
              <div class="col-md-4 grid-image">
                <img src={{url}} class="rounded" width="100%" height="auto">
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="row">
          {% for url in urls2 %}   
            {% if loop.index==7 or loop.index==8 or loop.index==9 %}       
              <div class="col-md-4 grid-image">
                <img src={{url}} class="rounded" width="100%" height="auto">
              </div>
            {% endif %}
          {% endfor %}
        </div>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}