{% extends 'base.html' %}
{% block content %}



<h2>{{ name1 }}</h2>

<ul>
  {% if urls1|length < 9 %}
    <li><p> Have at least nine photos on Flickr for this game! </p></li>
  {% else %}
    {% for url in urls1 %}
      <li><img src={{url}}></li>
    {% endfor %}
  {% endif %}
</ul>

<h2>{{ name2 }}</h2>

<ul>
  {% if urls2|length < 9 %}
    <li><p> Have at least nine photos on Flickr for this game! </p></li>
  {% else %}
    {% for url in urls2 %}
      <li><img src={{url}}></li>
    {% endfor %}
  {% endif %}
</ul>

<a href="/tags-bubble?username1={{ username1 }}&username2={{ username2 }}&name1={{ name1 }}&name2={{ name2 }}"> Word Match! </a><br>
<a href="/"> New Match </a>


{% endblock %}