{% extends 'base.html' %}
{% block content %}



<h2><a href={{ user1.profile_url }}>{{ user1.username }}</a></h2>

<div>
  <p>Location: {{ user1.user_location }}</p> <br>
  <p>Photo Counts: {{ user1.photo_count }}</p> <br>
  <p>Photo Since: {{ user1.photo_since }}</p> <br>
</div>

<div>
  <ul>
    {% for img_url in photos1_urls %}
      <li><img src={{ img_url }}></li>
    {% endfor %}
  </ul>
</div>

<h2><a href={{ user2.profile_url }}>{{ user2.username }}</a></h2>

<div>
  <p>Location: {{ user2.user_location }}</p> <br>
  <p>Photo Counts: {{ user2.photo_count }}</p> <br>
  <p>Photo Since: {{ user2.photo_since }}</p> <br>
</div>

<div>
  <ul>
    {% for img_url in photos2_urls %}
      <li><img src={{ img_url }}></li>
    {% endfor %}
  </ul>
</div>


{% endblock %}